# NextAuth
AUTH_SECRET=your_auth_secret_here_run_openssl_rand_base64_32

# Google OAuth (https://console.cloud.google.com/)
GOOGLE_CLIENT_ID=103086158533-jjbo7dtc9esol4f8p0vegq43mdcu8dke.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# OpenWeather API (https://openweathermap.org/api)
OPENWEATHER_API_KEY=your_openweather_api_key

# Google Places API (https://console.cloud.google.com/) - enable "Places API"
GOOGLE_PLACES_API_KEY=your_google_places_api_key

